<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uppower.sevenlion.web.product.dao.ProductMapper">


    <update id="cutProductStock">
        update product set stock = stock - CASE
        <foreach collection="productOrderList" item="item">
            when id = #{item.productId} then #{item.number}
        </foreach>
        end
        where
        id in
        <foreach collection="productOrderList" item="item" open="(" close=")" separator=",">
            #{item.productId}
        </foreach>
        and `stock` > 0
        and `deleted` = 0
    </update>

</mapper>
